:host{
  display: grid;
  grid-template: 
  "header header"  auto
  "cart catalog "  1fr
  "footer footer " auto 
  / 1fr 2fr
  
  ;
  height: 100vh;

}

app-header{
  grid-area: header;
}
app-cart{
  grid-area: cart;
}
app-catalog{
  grid-area: catalog;
}