:host{
  display: grid;
  grid-template: 
  "header header"  auto
  "cart catalog "  1fr
  "footer footer " auto 
  / 1fr 2fr
  
  ;
  height: 100vh;
  background: rgba(248,80,50,1);
background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 31%, rgba(184,18,0,1) 53%, rgba(246,41,12,1) 85%, rgba(231,56,39,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(31%, rgba(241,111,92,1)), color-stop(53%, rgba(184,18,0,1)), color-stop(85%, rgba(246,41,12,1)), color-stop(100%, rgba(231,56,39,1)));
background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 31%, rgba(184,18,0,1) 53%, rgba(246,41,12,1) 85%, rgba(231,56,39,1) 100%);
background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 31%, rgba(184,18,0,1) 53%, rgba(246,41,12,1) 85%, rgba(231,56,39,1) 100%);
background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 31%, rgba(184,18,0,1) 53%, rgba(246,41,12,1) 85%, rgba(231,56,39,1) 100%);
background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 31%, rgba(184,18,0,1) 53%, rgba(246,41,12,1) 85%, rgba(231,56,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 );

}

app-header{
  grid-area: header;
}
app-cart{
  grid-area: cart;
}
app-catalog{
  grid-area: catalog;
}